<?xml version="1.0"?>
<model>
  <!-- Human-readable name shown in the Add Model GUI -->
  <name>Holybro X500 V2</name>

  <!-- model’s version — bump this if make breaking changes -->
  <version>1.0</version>

  <!-- The SDF file (in the same folder) that defines links, visuals, collisions, plugins -->
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Junha Baek</name>
    <email>junha.baek.tech@gmail.com</email>
  </author>

  <description>
    PX4 SITL Ignition-Gazebo model for the Holybro X500 V2 hexacopter.
    Includes frame, landing gear, camera mount and rotor plugins.
  </description>
</model>
